<template>
    <div>
        <v-dialog v-model="dialogs.nearest" max-width="500px">
            <v-card>
                <v-card-title>
                    Укажите область поиска
                </v-card-title>
                <v-card-text>
                    <v-text-field
                    mask="######"
                    v-model="searchNearestRadius"
                    required
                    label="Расстояние в метрах"
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialogs.nearest=false">Закрыть</v-btn>
                    <v-btn color="primary" flat :disabled="searchNearestRadius == ''" @click.stop="$emit('searchNearestPoints', searchNearestRadius), dialogs.nearest=false">Поиск</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogs.routes" max-width="500px">
            <v-card>
              <v-card-title class="pb-0">
                  Укажите максимальное время прогулки
              </v-card-title>

              <v-card-text class="pt-0 pb-0">
                  <v-text-field v-model="routeTime" label="Время в минутах">
                  </v-text-field>
              </v-card-text>

              <v-card-title class="pt-0 pb-0">
                  Выберите начальную точку
              </v-card-title>
                
              <v-card-text class="pt-0">
                  <v-select
                  :items="[
                    {
                      'text':'От местоположения',
                      'value': 'auto'
                    },
                    {
                      'text': 'Указать точку на карте',
                      'value': 'point'
                    }
                  ]"
                  v-model="routePointType"
                  label="Указать"
                  single-line
                  ></v-select>
              </v-card-text>

              <v-card-actions>
                  <v-btn color="primary" flat @click.stop="dialogs.routes=false">Закрыть</v-btn>
                  <v-btn color="primary" flat :disabled="!routeTime || !routePointType" @click.stop="$emit('makePath', routePointType, routeTime), dialogs.routes=false">
                      {{routePointType == 'point' ? 'Указать точку' : 'Построить'}}
                  </v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
        v-model="dialogs.stats"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
        scrollable
      >
        <v-card tile>
          <v-toolbar card dark color="primary">
            <v-btn icon dark @click.stop="dialogs.stats = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title light>Статистика</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-toolbar-items>
              <v-btn flat @click.native="dialog = false">Сохранить</v-btn>
            </v-toolbar-items>
            <v-menu bottom right offset-y>
              <v-btn slot="activator" dark icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile v-for="(item, i) in items" :key="i" @click="">
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu> -->
          </v-toolbar>
          <v-card-text light>
            <!-- <v-btn color="primary" dark @click.stop="dialog2 = !dialog2">Open Dialog 2</v-btn>
            <v-tooltip right>
              <v-btn slot="activator">Tool Tip Activator</v-btn>
              Tool Tip
            </v-tooltip> -->
            <v-layout row wrap>
                   <v-flex xs3>
                      <div style="max-width: 300px;">
                    <v-select
                      :items="[{
                        'text': 'Города',
                        'value': 'city'
                      },{
                        'text': 'Регионы',
                        'value': 'area'
                      }, {
                        'text': 'Достопримечательности',
                        'value': 'sights'
                      }]"
                      v-model="chart.area"
                      label="Объекты"
                  ></v-select>
                   <v-select
                      v-if="chart.area !== 'sights'"
                      :items="[{
                        'text': 'Количество',
                        'value': 'count'
                      },{
                        'text': 'Популярность',
                        'value': 'popularity'
                      }]"
                      v-model="chart.type"
                      label="Тип"
                  ></v-select>
                 </div>
                    </v-flex>
                   <v-flex xs9>
                      <div class="app-chart-wrapper">
                        <div id="line-chart">
                        </div>
                      </div>
                    </v-flex>
                 </v-layout>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-dialog>

       <v-dialog v-model="dialogs.sight_detail" max-width="900px">
        <template v-if="sightDetailData">
            <v-card tile>
            <v-toolbar card dark color="primary">
              <v-btn icon dark @click.stop="dialogs.sight_detail = false">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title light>{{sightDetailData.title}}</v-toolbar-title>
              <v-spacer></v-spacer>
              <!-- <v-toolbar-items>
                <v-btn flat @click.native="dialog = false">Сохранить</v-btn>
              </v-toolbar-items>
              <v-menu bottom right offset-y>
                <v-btn slot="activator" dark icon>
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile v-for="(item, i) in items" :key="i" @click="">
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile>  
                </v-list>
              </v-menu> -->
            </v-toolbar>
            <v-card-text light>
              <v-layout row wrap>
                <template v-if="sightDetailData.images_set.length">
                  <v-carousel>
                    <v-carousel-item v-for="(image, i) in sightDetailData.images_set" :src="image.image" :key="i"></v-carousel-item>
                  </v-carousel>
                </template>
                <!-- <div class="pb-40">
                  <img  :src="image.image" style="max-width:100; max-width:400px"></img>
                </div> -->
                <div style="padding-top: 20px"  v-html="makeDescription(sightDetailData.description)">
                </div>
              </v-layout>
              <!-- <v-btn color="primary" dark @click.stop="dialog2 = !dialog2">Open Dialog 2</v-btn>
              <v-tooltip right>
                <v-btn slot="activator">Tool Tip Activator</v-btn>
                Tool Tip
              </v-tooltip> -->
                <!-- <v-tabs
                v-model="active"
                color="white"
                light
                slider-color="green"
              >
                <v-tab>
                  Популярные
                </v-tab>
                <v-tab-item>
                </v-tab-item>
              </v-tabs> -->
              
              <!-- <v-list three-line subheader>
                <v-subheader>User Controls</v-subheader>
                <v-list-tile avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>Content filtering</v-list-tile-title>
                    <v-list-tile-sub-title>Set the content filtering level to restrict apps that can be downloaded</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>Password</v-list-tile-title>
                    <v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
              <v-divider></v-divider>
              <v-list three-line subheader>
                <v-subheader>General</v-subheader>
                <v-list-tile avatar>
                  <v-list-tile-action>
                    <v-checkbox></v-checkbox>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Notifications</v-list-tile-title>
                    <v-list-tile-sub-title>Notify me about updates to apps or games that I downloaded</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile avatar>
                  <v-list-tile-action>
                    <v-checkbox></v-checkbox>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Sound</v-list-tile-title>
                    <v-list-tile-sub-title>Auto-update apps at any time. Data charges may apply</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile avatar>
                  <v-list-tile-action>
                    <v-checkbox></v-checkbox>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Auto-add widgets</v-list-tile-title>
                    <v-list-tile-sub-title>Automatically add home screen widgets</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list> -->
            </v-card-text>
            <div style="flex: 1 1 auto;"></div>
        </v-card>
        </template>
      </v-dialog>
    </div>
</template>
<script>
    import Vue from 'vue'
    import VueCharts from 'vue-chartjs'
    import { Bar, Line, mixins } from 'vue-chartjs'
    import {getByCity, getBySights, getByArea, getPopularSights} from '../utils.js'

    export default {
        name: 'ThForms',
        data: () => ({
            active: null,
            dialogRoute: false,
            dialogNearest: false,
            searchNearestRadius: '',
            routeType: null,
            routeTypes: [
                {
                  'text': 'Ближайшие',
                  'value': 'nearest'
                },
                {
                  'text': 'Популярные',
                  'value': 'popular'
                }
            ],
            routePointType: null,
            routeTime: null,
            routePoint: null,
            chart: {
              type: null,
              area: null,
              data: null
            },
            chartData: {
              labels: [],
                datasets: [
                  {
                    label: '',
                    data: []
                  }
              ]
            },
            chartOptions: {responsive: true, maintainAspectRatio: false}
        }),
        watch: {
          'chart': {
            handler: function(a, b){
              this.drawChart()
            },
            deep: true
          },
        },
        mounted(){
          this.drawChart()
        },
        methods: {
            setRoutePoint(){
                this.map.on('click', (e) => {
                    if(this.routePoint){
                        this.map.removeLayer(this.routePoint);
                        this.routePoint = null;
                    } else {
                        this.routePoint = L.marker(e.latlng).addTo(this.map);
                        this.dialogs.routes = true;
                    }
                })
            },
            drawChart(){
              this.$http.get('/get_popular_places', {
                  params: this.chart
              }).then((response) => {
                let data = response.body;
                let labels, digits, mainLabel;

                if(this.chart.area === 'city') {
                  ({digits, labels, mainLabel} = getByCity(this.chart.type, data))
                } else if (this.chart.area === 'area') {
                  ({digits, labels, mainLabel} = getByArea(this.chart.type, data))
                } else if(this.chart.area === 'sights') {
                  ({digits, labels, mainLabel} = getPopularSights(data))
                } else if(this.chart.area === 'sight') {
                  ({digits, labels, mainLabel} = getBySights(this.chart.type, data))
                }

                if(labels && digits){
                  this.chartData = {
                    labels: labels,
                    datasets: [
                      {
                        label: mainLabel,
                        backgroundColor: '#f87979',
                        data: digits
                      }
                    ]
                  };
                }

                let self = this;

                if(!this.LineChart){
                  let LineChart = Vue.component('LineChart', {
                    extends: Bar,
                    mixins: [mixins.reactiveData],
                    data: () => ({
                      chartData: this.chartData,
                      options: {
                        responsive: true,
                        maintainAspectRatio: false
                      }
                    }),
                    mounted () {
                      this.renderChart(this.chartData, this.options)
                    },
                    methods: {
                      update(){
                        this.chartData = self.chartData;
                      }
                    }
                  });

                  this.LineChart = new LineChart({ el: '#line-chart' })
                } else {
                  this.LineChart.update();
                }
              });
            },
            makeDescription(text){
              let _regexp = /==(.+)==/g;
              let res;
              
              while((res = _regexp.exec(text)) !== null){
                text = text.replace(res[0], `<h2>${res[1]}</h2>`)
              }

              return text.split('\n').map(item => `<p>${item}</p>`).join('');
            },
            next () {
              const active = parseInt(this.active);
              this.active = (active < 2 ? active + 1 : 0).toString()
            }
        },
        props: {
            sightDetailData: {
              type: Object
            },
            dialogs: {
                type: Object,
                required: true
            },
            map: {
                type: Object
            }
        },
    }
</script>
