<template>
  <v-app
    id="inspire"
    light
  >
    <v-navigation-drawer
      v-model="drawer"
      fixed
      clipped
      app
    >
      <v-list dense>
        <v-list-tile @click.stop="dialogs.stats = true, theme = false">
          <v-list-tile-action>
            <v-icon>bar_chart</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Статистика
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

         <v-list-tile @click.stop="dialogs.routes = true">
          <v-list-tile-action>
            <v-icon>map</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Построить маршрут
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.stop="dialogs.nearest = true">
          <v-list-tile-action>
            <v-icon>near_me</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Ближайшие
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      <v-list-group class="regions" @transitionend="search = ''">
        <v-list-tile slot="activator">
          <v-list-tile-action>
                <v-icon>featured_play_list</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
              <v-list-tile-title>Регион</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="makeMapFilters()" class="filter-button">
                <v-list-tile-content>
                  <v-list-tile-title>Применить фильтр</v-list-tile-title>
                </v-list-tile-content>
        </v-list-tile>

        <v-list-tile  class="mb-4 mt-2">
          <v-list-tile-content>
              <v-text-field
                v-model="search"
                label="Поиск..."
              ></v-text-field>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-for="region in (filteredRegions.length || search.length ? filteredRegions : regions.slice(0, regionsLength))" :key="region.name" @click="">
          <v-list-tile-content>
            <v-list-tile-title>{{region.name}}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
              <v-checkbox :value="region" v-model="selectedRegions"></v-checkbox>
          </v-list-tile-action>
        </v-list-tile>

        <template v-if="!filteredRegions.length && !search.length">
          <template v-if="regionsLength < regions.length">
            <v-list-tile v-if="regions.length > 1" @click="regionsLength = regions.length">
                <v-list-tile-content>
                  <v-list-tile-title>Показать все</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
          </template>
          <template v-else>
              <v-list-tile @click="regionsLength = 5">
                <v-list-tile-content>
                  <v-list-tile-title>Скрыть</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
          </template>
        </template>
      </v-list-group>

      <v-list-group class="types" @transitionend="search = ''">
          <v-list-tile slot="activator">

            <v-list-tile-action>
                  <v-icon>landscape</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>Категории</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="makeMapFilters()" class="filter-button">
                <v-list-tile-content>
                  <v-list-tile-title>Применить фильтр</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile  class="mb-4 mt-3">
              <v-list-tile-content>
                  <v-text-field
                    v-model="search"
                    label="Поиск..."
                  ></v-text-field>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-for="item in (filteredTypes.length || search.length ? filteredTypes : types.slice(0, typesLength))" :key="item.name" @click="">
              <v-list-tile-content>
                <v-list-tile-title>{{item.name}}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                  <v-checkbox :value="item" v-model="selectedTypes"></v-checkbox>
              </v-list-tile-action>
            </v-list-tile>

            <template v-if="!filteredTypes.length && !search.length">
              <template v-if="typesLength < types.length">
                <v-list-tile v-if="types.length > 1" @click="typesLength = types.length">
                    <v-list-tile-content>
                      <v-list-tile-title>Показать все</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
              </template>
              <template v-else>
                  <v-list-tile @click="typesLength = 5">
                    <v-list-tile-content>
                      <v-list-tile-title>Скрыть</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
              </template>
            </template>
      </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-snackbar
      :timeout="timeout"
      :top="y === 'top'"
      :bottom="y === 'bottom'"
      :right="x === 'right'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :vertical="mode === 'vertical'"
      v-model="snackbar"
    >
      {{ snackBarText }}
      <v-btn flat color="pink" @click.native="snackbar = false">Закрыть</v-btn>
    </v-snackbar>

    <v-toolbar
      color="blue"
      dense
      fixed
      light
      clipped-left
      app
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <!-- <v-icon class="mx-2" color="white">call_split</v-icon> -->
      <v-toolbar-title class="ml-0 mr-5 align-center">
        <span class="title">TripHunter</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-layout row align-center style="max-width: 650px; padding-top:20px">
          <v-select
                  :items="sightsResultSet"
                  :search-input.sync="searchQ"
                  item-text="title"
                  item-value="geom"
                  v-model="searchQuery"
                  @input="searchPoint"
                  label="Поиск..."
                  single-line
                  autocomplete
          ></v-select>
      </v-layout>
      <v-layout justify-end row>
        <!--<v-menu bottom left>-->
            <!--<v-btn slot="activator" icon dark>-->
              <!--<v-icon>more_vert</v-icon>-->
            <!--</v-btn>-->
            <!--<v-list>-->
              <!--<v-list-tile v-for="item in settings" :key="item" @click="">-->
                <!--<v-list-tile-title>{{ item }}</v-list-tile-title>-->
              <!--</v-list-tile>-->
            <!--</v-list>-->
          <!--</v-menu>-->
      </v-layout>
    </v-toolbar>
    <v-content>
      <v-container pa-0 fill-height>
        <v-layout justify-center align-center>
         <div class="site-map" id="map">
         </div>
        </v-layout>
      </v-container>
    </v-content>
    <th-forms :dialogs="dialogs" :map="map" :sightDetailData="sightDetailData" @makePath="makePath" @searchNearestPoints="searchNearestPoints"></th-forms>
  </v-app>
</template>

<script src="./app.js"></script>