@import "~leaflet/dist/leaflet.css"
@import "~normalize.css/normalize.css"

#app
  height 100%

body,
html
  height 100%

.site-app-container
  display flex
  height 100%
  flex-direction row

.site-map-container
  width calc(100% - 300px)
  height  100%

.site-map
  width 100%
  height  100%
  z-index 0

.site-sidebar
  width 400px

.map-findposition-control-button.info
  min-width 40px
  height 40px
  border 2px solid rgba(0,0,0,0.2) !important
  box-shadow none
  background-color #fff !important
  border-radius 3px

  i.icon
    color #000

.map-custom-button-control
  min-width 40px
  position relative
  &:before
    content '\2715'
    position absolute
    top -6px
    right -3px
    height 10px
    color #333
    text-align center
    width 10px
    font-size 6px
    line-height 10px
    background #fff
    border-radius 100%


// Leaflet measure rewrites

.leaflet-control-measure .tasks
  display flex

.leaflet-control-measure a.start,
.leaflet-control-measure .js-measuretasks a,
.leaflet-control-measure .js-measuretasks a:hover,
.leaflet-control-measure a.start:hover
  width auto

.js-measuringprompt
  color #333

a.leaflet-control-measure-toggle.js-toggle
  color #333333
  width 36px 
  height 36px

.leaflet-routing-alternatives-container
  color #333


.leaflet-popup-content
  .btn
    max-width auto

button.leaflet-button
  color #ffffff
  background: #333333
  padding 10px 15px
  display inline-block
  font-size 14px
  text-decoration none

.app-chart-wrapper > div
  position relative
  height 400px


.filter-button
  background #1976d2
  color #fff
  
  .list__tile__title
    text-align: center
  &:hover
    background lighten(#1976d2, 0.2)
// .form-carousel-item
//   height 400px
//   position relative
//   flex-basis 100%
//   background-size cover
//   background-position: center center

.is-hidden
  display none